.google-map * {
    border-style: none;
}

html {
    font-size: 62.5%;
}

*,
::before,
::after,
:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme("borderColor.DEFAULT", currentColor);
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-style: normal;

    img,
    video {
        max-width: 100%;
        height: auto;
    }

    .google-map * {
        border-style: none;
    }

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        display: block;
        vertical-align: middle;
    }

    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
