main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    padding: 4rem;

    #shoppingList {
        padding: 1rem;

        #shoppingContinue {
            display: flex;
            align-items: center;
            width: 100%;
            border-bottom: solid 1px #0000008c;

            img {
                width: 20px;
            }

            h2 {
                font-size: 2rem;
                font-weight: 500;
            }
        }

        #cart {
            display: flex;
            flex-direction: column;
            margin: 2rem 1rem 1rem 1rem;

            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1.5rem;
            }

            #requestList {
                margin: 2rem;
            }
        }
    }
}
